@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

/* Mobil scroll için scrollbar gizleme */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grabbing {
  cursor: grabbing !important;
}

/* site color css */

.btn-primary {
  @apply bg-blue-600 text-white hover:bg-blue-700 transition cursor-pointer;
}
.heading-xl {
  @apply text-4xl font-bold text-foreground;
}
.subtitle {
  @apply text-lg text-gray-600;
}
.text-card-desc {
  @apply text-sm text-gray-500;
}
.text-card-title {
  @apply text-base font-semibold text-gray-800;
}
.slogan-title {
  @apply text-5xl font-extrabold text-gray-900 text-center tracking-tight;
}
.shadow-theme {
  box-shadow: 0 2px 6px var(--dshadow);
}
.contact-gradient {
  @apply bg-gradient-to-b from-white to-blue-50 dark:from-background dark:to-background;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.98 0.015 250);
  --foreground: oklch(0.15 0 0);

  --card: oklch(0.99 0.01 80);
  --card-foreground: oklch(0.15 0 0);

  --primary: oklch(0.6 0.25 250);
  --primary-foreground: oklch(0.99 0 0);

  --muted: oklch(0.96 0.01 250);
  --muted-foreground: oklch(0.5 0 0);

  --border: oklch(0.92 0 0);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.7 0 0);
  --dshadow: oklch(0.2188 0.0296 113);
}

.dark {
  /* Sayfa arka plan rengi  */
  --background: oklch(0.15 0.01 250);
  /* Genel metin rengi */
  --foreground: oklch(0.98 0 0);
  /* Kart arka planı */
  --card: oklch(0.25 0.01 250);
  /* Kart üzeri yazı	 */
  --card-foreground: oklch(0.98 0 0);
  /* Ana buton arka plan */
  --primary: oklch(0.85 0.25 250);
  /* Ana buton yazı rengi */
  --primary-foreground: oklch(0.15 0 0);
  /* Az vurgu gereken zemin */
  --muted: oklch(0.3 0.01 250);
  /* Az vurgu gereken metin */
  --muted-foreground: oklch(0.7 0 0);
  /* Sınırlar */
  --border: oklch(1 0 0 / 10%);
  /* Input alanı arka planı */
  --input: oklch(1 0 0 / 15%);
  /* Focus halkası */
  --ring: oklch(0.5 0 0);
  /*shadow gerekirse...*/
  --dshadow: #ffffff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root,
.dark {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease,
    box-shadow 0.4s ease,
    fill 0.4s ease,
    stroke 0.4s ease,
    transform 0.3s ease;
}

* {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease,
    box-shadow 0.4s ease,
    fill 0.4s ease,
    stroke 0.4s ease,
    transform 0.3s ease;
}
